html {
	overflow: hidden;
}

.username-wrapper {
    background-color: #0E0E0F;
    position: fixed;
    top: 6vw;
    left: 64vw;
    width: 40vw;
    height: 0;
    transform: rotate(26deg) translate(0, -50%);
    overflow: hidden;
    animation: lineIn 1s ease-in-out forwards 1,
        lineOut 2s ease-in-out 12s forwards 1;
    transition: all 1s;
    display: block;
}

.username {

    display: flex;
    align-items: baseline;
    gap: 1vw;
    opacity: 0;
    animation: move 11s linear 2s infinite normal forwards;
}

.username span {
    font-family: 'work-sans', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.6vw;
    letter-spacing: 0;
    line-height: 3vw;
}

#username {
    color: #0EFF65;

}

#alert {
    color: #FFF;

}







@keyframes move {
    0% {
        transform: translate3d(100%, 0, 0);
        /* position initiale à droite */
        opacity: 1;
    }

    100% {
        transform: translate3d(-100%, 0, 0);
        /* position finale à gauche */
        opacity: 1;
    }
}

@keyframes lineIn {
    0% {
        height: 0;
        transform: rotate(26deg) translate(0, -50%) scaleY(0);

    }

    100% {
        height: 3vw;
        transform: rotate(26deg) translate(0, -50%) scaleY(1);

    }
}

@keyframes lineOut {
    0% {

        height: 3vw;
    }

    100% {
        height: 0;
    }
}